.about {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  scroll-margin-top: 20rem;
}

.about .about__left {
  margin-top: 5px;
  max-width: 50rem;
  flex: 1;
}

.marcos2 {
  margin-top: 4rem;
  border-radius: 0.8rem;
  width: 100%;
  margin-right: auto; /* Ajuste para centralizar em telas menores */
}

.about .about__left p { 
  margin: 1rem 0 2rem;
  display: inline-block;
  padding: 1rem;
  margin-left: -1.2rem;
}

.about .about__right {
  flex: 1;
  max-width: 66rem;
}

@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about .about__left {
    max-width: 100%;
    text-align: center;
  }

  .about .about__right {
    max-width: 100%;
    text-align: center;
  }

  .marcos2 {
    margin-right: 0;
  }
}